.set{
	background-color: #F1F1F1;
	padding: 20px;
}
input{
	text-align: center;
}
.set>input {
    height: 70px;
    width: 80%;
    padding: 3px;
}
.set .set-num{
	margin-bottom: 10px;
}

.set button{
	margin-top: 16px;
    margin-left: 300px;
}
