.deposit{
	margin: 20px 0;
}
.deposit .current{
	color: red;
}
.deposit>div{
	margin: 10px 0;
}
.deposit>div span {
	padding: 3px 6px;
	border: 1px solid #606060;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 14px;
}
.deposit table th, .deposit table td, .info-btn{
	display: inline-block;
	text-decoration: none;
	/*color: #606060;*/
	min-width: 90px;
	text-align: center;
	line-height: 24px;
}
.deposit .info-btn{
	color: #5079bb;
}
